.projects .sub-title {
    margin-bottom: 2.5rem;
}

.highlight-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.highlight {
    color: var(--primary-color);
    margin-left: 10px;
}

.project-primary {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    border: none;
    border-radius: 15px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 25rem;
    width: 45rem;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
}

.project0 {
    background-image: url('../assets/project0-cover.png');
}

.project1 {
    background-image: url('../assets/project1-cover.png');
}

.project2 {
    background-image: url('../assets/project2-cover.png');
}

.project3 {
    background-image: url('../assets/project3-cover.png');
    background-size: cover; /* Scale the image to cover the element */   
}

.project-primary-inner {
    display: flex;
    flex-direction: row;
}


.project-primary-tag {
    background-color: var(--primary-color-dark);
    color: white;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    font-size: 15px;
}

.project-primary-title {
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3s ease-out;
}